
header{
    background-image: url("../images/luxury_home_2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60vw;
    font-family: 'Tangerine', cursive;
    
}

nav {
    position: fixed;
    padding:0px 20px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 5;
}


.tabs .indicator {
    background-color: #1a237e;
}


.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
}

.sidenav-overlay{
    background: transparent;
}

#parallax-container {
    margin-bottom: 100px !important;
}

#contact_form {
    margin-top: 50px !important;
    border: 2px solid #ececec;
    font-family: 'Alex Brush', cursive;
    
    /* margin: 10px; */
}

#about {
    margin-top: 50px !important;
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Alex Brush', cursive;
}

#previous_search {
    margin: 20px !important;
    padding: 10px !important;
    border: 2px solid #ececec;
}

.search_button{
    margin: 5px !important;
}

.card-content{
    margin-top: -25px;
}

.card .card-action {
    padding: 0px 24px 3px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color: #26a69a;
}

#contact{
    position: relative;
    z-index: 0;
}

footer{
    position: relative;
    z-index: 1;
}

#searchContainer{
    z-index: 1;
}

.parallax-container{
    z-index: 0;
}


#homeCards{
    min-height: 0px;
}

#searchContainer{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 1px;
}

@media screen and (max-width: 1700px){
    .card.small .card-action, .card.medium .card-action, .card.large .card-action{
        display: grid;
    }
    .card.large{
        height: 530px;
    }
}

@media screen and (max-width: 670px){
    header{
        min-height: 500px;
    }
}

/*Google Fonts Rule References For Quick Retrieval

font-family: 'Alex Brush', cursive;
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Engagement', cursive;
font-family: 'Italianno', cursive;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Tangerine', cursive; */
/* font-family: 'Noto Serif TC', serif;
font-family: 'Tangerine', cursive;  */